<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Sources/realImgs/logo/iconLogo.ico" rel="shortcut icon">
    <title>应心YingHeart</title>

    <script src="Libs/Js/angular/angular.js"></script>
    <script src="Libs/Js/angular/angular-route.js"></script>

    <!--app-->
    <script src="Libs/Js/app.js"></script>
    <!--directive-->
    <script src="Libs/Js/directives/directives.js"></script>
    <!--service-->
    <script src="Libs/Js/services/qaDataService.js"></script>
    <!--ctrl-->
    <script src="Libs/Js/ctrls/mainCtrl.js"></script>
    <script src="Libs/Js/ctrls/ctrls.js"></script>
    <script src="Libs/Js/ctrls/qa/qaCtrls.js"></script>

    <script src="Libs/Js/ctrls/sample/sample.js"></script>

    <script src="Libs/Js/jquery/jquery-1.11.1.js"></script>
    <script src="Libs/Js/bootstrap3/bootstrap.js"></script>

    <!--<link href="Libs/Css/bootstrap3/bootstrap.css" rel="stylesheet" />-->
    <link href="Libs/Css/Custom/bootstrap.css" rel="stylesheet" />
    <link href="Libs/Css/WebFont/awesome-4.1.0/font-awesome.css" rel="stylesheet" />
    <link href="Libs/Css/Custom/main.css" rel="stylesheet" />


</head>
<body ng-app="mainApp">
    <div class="container-fluid">

        <div class="row" style="height:70px;">
            <div class="col-md-5 col-md-offset-1">
                <img src="/Sources/realImgs/logo/LOGO.jpg" style="height:70px;" />
                <img src="/Sources/realImgs/logo/LOGO2.jpg" style="height:50px;" />
            </div>
            <div class="col-md-5" style="height:100%;">
                <div style="position: relative; top: 20%; color: #727171; " class="pull-right">
                    <i class="fa fa-phone fa-2x fa-margin"></i>联系电话：400-0178-361
                </div>
            </div>
        </div>

        <div class="row" ng-controller="navbarCtrl">
            <nav class="navbar navbar-inverse">

                <div class="collapse navbar-collapse col-md-offset-1">
                    <ul class="nav navbar-nav">

                        <li ng-repeat="menu in topMenu" ng-class="{true: 'dropdown', false: ''}[menu.child!=null]">
                            <a href="{{menu.url}}">{{menu.name}} <span class="caret" ng-show="menu.child!=null"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="cm in menu.child"><a href="{{cm.url}}">{{cm.name}}</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon btn"><i class="fa fa-search"></i></span>
                        </div>
                    </form>
                </div>
            </nav>

        </div>


        <div ng-view=""></div>

        <div class="row gray footer" ng-controller="footerCtrl">
            <div class="col-md-12">
                <div class="row" style="padding-top:20px;">
                    <div class="col-md-offset-1">
                        <p>友情链接</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <a ng-href="{{fLink.url}}" target="_blank" class="btn friendLink" style="background: url('{{fLink.img}}') no-repeat" ng-repeat="fLink in friendLink" data-placement="bottom" title="{{fLink.desc}}" on-finish-render="setTip()">
                        </a>
                    </div>
                </div>
                <div class="row text-center" style="margin-top:50px;padding-top:10px;padding-bottom:10px;background-color:#524f4f;">
                    ©2016 上海应心科技有限公司 版权所有丨上海市闵行区浦江镇沈杜公路4285号丨400-0178-361
                </div>
            </div>
        </div>

    </div>

</body>
</html>
