<div class="row zoneSplit"></div>
<div class="row" ng-controller="">
    <div class="col-md-offset-1 col-md-10">
        <h3>公司介绍</h3><hr />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海应心电子科技有限公司成立于2011年，是一家专业致力于安防产品研发、制造及销售为主的技术创新型企业。<br /></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽起步较晚，但应心人依靠上海其得天独厚的地理位置和资源优势，一开始就以高科技、新产品、新技术主打市场，坚持以认真求实的态度对待所有的客户，以“应您所需、用心服务”为企业宗旨，始终坚持“以人为本”的管理理念，立志于为安防行业和客户提供各类优质产品和技术服务。<br /></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应心公司拥有自已的研发团队、销售团队，还从国外引进世界一流的电子围栏技术与其融合，规范制造工艺，严格控制高精度的检测流程。所研发产品广泛应用于军队、小区、别墅、变电站、工厂、仓储、学校、牧场、看守所、监狱、武器库等场所。已成功为数千家企业和政府单位提供了安防服务，客户遍布全国20个省、市和地区。<br /></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应心人注重科研开发，成立至今每年投入大量资金，与国内先进科研机构长期合作，短期内拥有多个型号的产品进入市场；应心人注重品质管理，每个方案无不经过相关部门反复优化筛选，严密测试，以确保每一款产品的安全、稳定；应心人注重技术创新，其自主创新的电子围栏控制技术，使产品的功能性、稳定性得到了质的飞跃，公司陆续推出了具有完全自主知识产权的脉冲电子围栏、张力围栏、报警主机、振动光纤、数字监控专用光端机等安防产品，得到了众多工程商的认可；应心人更注重优质服务，时刻关注客户的需求，一切从客户需求出发，以客户满意结束！<br /></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“应您所需、用心服务”我们至始自终都良好的态度对待每一位合作伙伴，满足每一位客户的要求，真诚欢迎您的加入！努力成为客户可以信赖的长期合作伙伴，持续创造更大的价值，立志成为一流的安防企业。<br />
        <p>公司环境</p>
        <img src="/Sources/realImgs/comIntro/intro1.jpg" style="width:30%;" />
        <img src="/Sources/realImgs/comIntro/intro2.jpg" style="width: 30%;" />
        <img src="/Sources/realImgs/comIntro/intro3.jpg" style="width: 30%;" /><br /><br />
        <p>公司相关证书</p><br />
        <img src="/Sources/realImgs/comIntro/cert1.jpg" style="width:15%;margin-right:5px;" />
        <img src="/Sources/realImgs/comIntro/cert2.jpg" style="width: 15%; margin-right: 5px; " />
        <img src="/Sources/realImgs/comIntro/cert3.jpg" style="width: 15%; margin-right: 5px; " />
        <img src="/Sources/realImgs/comIntro/cert4.jpg" style="width: 15%; margin-right: 5px; " />
        <img src="/Sources/realImgs/comIntro/cert5.jpg" style="width: 25%;" />
</div>
</div>