<style type="text/css">
    .FAQ {
        background: url(/Sources/realImgs/others/FAQ.jpg) no-repeat;
    }
</style>
<link href="../Libs/Css/Custom/forSlideImg.css" rel="stylesheet" />

<div class="row zoneSplit"></div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3 sideMenuAndSlideImg zone" ng-controller="sideMenuCtrl">
                <!--<div>-->
                <h3><i class="fa fa-list-ul fa-margin" style="color: #d7000f;padding-left:10px;"></i>产品分类</h3>
                <div class="sideMenu">
                    <div ng-repeat="menu in sideMenu" ng-class="{true: 'sideMenuItemCurrent', false: 'sideMenuItem'}[menu.isFocus]" ng-mouseover="focusItem($index)" ng-mouseleave="blurItem($index)">
                        <a href="{{menu.url}}productList/{{$index+1}}">{{menu.name}}</a><i class="fa fa-angle-right pull-right" style="padding-right:35px;"></i>
                        <!--<div class="row sideMenuChild" ng-show="menu.isFocus">
                            <div class="col-md-6 text-center">
                                <p>{{menu.child[0].name}}</p>
                                <img ng-src="{{menu.child[0].img}}" />
                            </div>
                            <div class="col-md-6 text-center">
                                <p>{{menu.child[1].name}}</p>
                                <img ng-src="{{menu.child[1].img}}" />
                            </div>
                        </div>-->
                    </div>
                </div>
                <!--</div>-->

            </div>
            <div class="col-md-9 sideMenuAndSlideImg" ng-controller="slideImgCtrl">

                <div id="box_yingxinslide">
                    <div class="list">
                        <ul>
                            <li ng-repeat="img in slideImgs" on-finish-render="setScroll()"><img ng-src="{{img.img}}" width="889" height="450" /></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row zoneSplit"></div>
        <div class="row" ng-controller="classicalCaseCtrl">
            <div class="col-md-12">
                <div class="row gray zoneTitle">
                    <h3 style="margin-top:10px;" class="col-md-6"><i class="fa fa-ellipsis-v fa-margin"></i>经典案例</h3>
                    <a style="margin-right:10px;margin-top:5px;" class="btn btn-danger pull-right"><i class="fa fa-eye fa-margin"></i>more</a>
                </div>
                <div class="row scrollContainer">
                    <div class="scrollContainer-inner">
                        <div class="scrollContainer-imgs" ng-repeat="i in [1,2]" on-finish-render="setScroll()">
                            <a href="{{item.url}}classicalCase" ng-repeat="item in scrollImgs" style="display:inline-block;">
                                <img ng-src="{{item.img}}" />
                                <span style="display: block; text-align: center; color: #ffffff;">{{item.name}}</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row zoneSplit"></div>
        <div class="row" ng-controller="QANewsCtrl">
            <div class="col-md-8">
                <div class="row gray zoneTitle">
                    <h3 style="margin-top:10px;" class="col-md-6"><i class="fa fa-question-circle fa-margin"></i>常见问题解答</h3>
                    <a style="margin-right:10px;margin-top:5px;" class="btn btn-danger pull-right"><i class="fa fa-eye fa-margin"></i>more</a>
                </div>
                <div class="row zone qa-news-zone">
                    <div class="col-md-4 qa-news-zone FAQ">
                        <!--<img ng-src="{{qaZoneLeftImg}}" />-->
                    </div>
                    <div class="col-md-8">
                        <div class="row qaCategory">
                            <a href="#/qaList/1" class="btn btn-lg" ng-mouseenter="tabFocus(1)">脉冲</a>丨
                            <a href="#/qaList/2" class="btn btn-lg" ng-mouseenter="tabFocus(2)">张力</a>丨
                            <a href="#/qaList/3" class="btn btn-lg" ng-mouseenter="tabFocus(3)">振动</a>丨
                            <a href="#/qaList/4" class="btn btn-lg" ng-mouseenter="tabFocus(4)">光端机</a>
                        </div>
                        <div class="row">
                            <div class="qaScroll qa-news-zone" id="qaScroll">
                                <div id="qaScroll{{i}}" ng-repeat="i in [1,2]" on-finish-render="setScroll()">
                                    <dl ng-repeat="qa in qaCategory.data">
                                        <dt>
                                            <i class="fa fa-question-circle fa-margin"></i><a ng-href="{{qa.url}}qaDetail/{{qaCategory.id}}/{{qa.id}}">{{qa.question}}</a>
                                        </dt>
                                        <dd>
                                            <i class="fa fa-quote-left fa-margin"></i>{{qa.answerIntro}}<i class="fa fa-quote-right"></i>
                                        </dd>
                                    </dl>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="row" style="margin-left:1px;">
                    <div class="col-md-12">
                        <div class="row gray zoneTitle">
                            <h3 style="margin-top:10px;" class="col-md-8"><i class="fa fa-comments fa-margin"></i>行业动态</h3>
                            <a style="margin-right:10px;margin-top:5px;" class="btn btn-danger pull-right"><i class="fa fa-eye fa-margin"></i>more</a>
                        </div>
                        
                        <div class="row zone qa-news-zone">
                            <div class="qaCategory">
                                <a href="#/newsList/1" class="btn btn-lg" ng-mouseenter="newsTabFocus(1)">行业新闻</a>丨
                                <a href="#/newsList/2" class="btn btn-lg" ng-mouseenter="newsTabFocus(2)">公司新闻</a>丨
                            </div>
                            <ul style="">
                                <li ng-repeat="new in newsCategory.data">
                                    <!--<a ng-href="{{new.url}}" ng-class="{true: 'a-link-hover', false: 'a-link'}[new.isFocus]" ng-mouseover="aLinkHover($index)" ng-mouseleave="aLinkBlur($index)">{{new.content}}</a>-->
                                    <a ng-href="{{new.url}}newsDetail/{{newsCategory.id}}/{{new.id}}" class="a-link">{{new.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1">

    </div>
</div>
