<style type="text/css">

</style>
<script type="text/javascript">
    $(document).ready(function () {
        alert("ready");
    })
</script>
<div class="row zoneSplit"></div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3 sideMenuAndSlideImg zone" ng-controller="sideMenuCtrl">
                <!--<div>-->
                <h3><i class="fa fa-list-ul fa-margin" style="color: #d7000f;padding-left:10px;"></i>产品分类</h3>
                <div class="sideMenu">
                    <div ng-repeat="menu in sideMenu" ng-class="{true: 'sideMenuItemCurrent', false: 'sideMenuItem'}[menu.isFocus]" ng-mouseover="focusItem($index)" ng-mouseleave="blurItem($index)">
                        <a href="{{menu.url}}">{{menu.name}}</a><i class="fa fa-angle-right pull-right" style="padding-right:35px;"></i>
                        <div class="row sideMenuChild" ng-show="menu.isFocus">
                            <div class="col-md-6 text-center">
                                <p>{{menu.child[0].name}}</p>
                                <img ng-src="{{menu.child[0].img}}" />
                            </div>
                            <div class="col-md-6 text-center">
                                <p>{{menu.child[1].name}}</p>
                                <img ng-src="{{menu.child[1].img}}" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--</div>-->

            </div>
            <div class="col-md-9 sideMenuAndSlideImg" ng-controller="slideImgCtrl">

                <div id="myCarousel" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/Sources/imgs/slide3.png" alt="slide3">
                            <div class="carousel-caption">
                                <p>slide3</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/Sources/imgs/sl2.png" alt="sl2">
                            <div class="carousel-caption">
                                <p>sl2</p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>-->
                </div>

            </div>
        </div>

        <div class="row zoneSplit"></div>
        <div class="row" ng-controller="classicalCaseCtrl">
            <div class="col-md-12">
                <div class="row gray zoneTitle">
                    <h3 style="margin-top:10px;" class="col-md-6"><i class="fa fa-ellipsis-v fa-margin"></i>经典案例</h3>
                    <a style="margin-right:10px;margin-top:5px;" class="btn btn-danger pull-right"><i class="fa fa-eye fa-margin"></i>more</a>
                </div>
                <div class="row scrollContainer">
                    <div class="scrollContainer-inner">
                        <div class="scrollContainer-imgs" ng-repeat="i in [1,2]" on-finish-render="setScroll()">
                            <a href="{{item.url}}" ng-repeat="item in scrollImgs" style="display:inline-block;">
                                <img ng-src="{{item.img}}" />
                                <span style="display: block; text-align: center; color: #ffffff;">{{item.name}}</span>
                            </a>
                        </div>
                        <!--<div class="scrollContainer-imgs" style="display: inline; overflow: hidden;">
                            <a href="{{item.url}}" ng-repeat="item in scrollImgs" data-toggle="tooltip" title="{{item.name}}">
                                <img ng-src="{{item.img}}" />
                                <span>{{item.name}}</span>
                            </a>
                        </div>-->
                        <!--<table>
                            <tr>
                                <td class="scrollContainer-imgs" ng-repeat="i in [1,2]">
                                    <table>
                                        <tr align="middle">
                                            <td ng-repeat="item in scrollImgs">
                                                <p>
                                                    <img ng-src="{{item.img}}" />
                                                </p>
                                                <a>{{item.name}}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row zoneSplit"></div>
        <div class="row" ng-controller="QANewsCtrl">
            <div class="col-md-8">
                <div class="row gray zoneTitle">
                    <h3 style="margin-top:10px;" class="col-md-6"><i class="fa fa-question-circle fa-margin"></i>常见问题解答</h3>
                    <a style="margin-right:10px;margin-top:5px;" class="btn btn-danger pull-right"><i class="fa fa-eye fa-margin"></i>more</a>
                </div>
                <div class="row zone qa-news-zone">
                    <div class="col-md-4 qa-news-zone">
                        <img ng-src="{{qaZoneLeftImg}}" />
                    </div>
                    <div class="col-md-8">
                        <div class="qaScroll qa-news-zone" id="qaScroll">
                            <div id="qaScroll{{i}}" ng-repeat="i in [1,2]" on-finish-render="setScroll()">
                                <dl ng-repeat="qa in qaList">
                                    <dt>
                                        <i class="fa fa-question-circle fa-margin"></i><a ng-href="{{qa.url}}">{{qa.question}}</a>
                                    </dt>
                                    <dd>
                                        <i class="fa fa-quote-left fa-margin"></i>{{qa.answer}}<i class="fa fa-quote-right"></i>
                                    </dd>
                                </dl>
                            </div>
                            <!--<div id="qaScroll2">
                                <dl ng-repeat="qa in qaList">
                                    <dt>
                                        <i class="fa fa-question-circle fa-margin"></i><a ng-href="{{qa.url}}">{{qa.question}}</a>
                                    </dt>
                                    <dd>
                                        <i class="fa fa-quote-left fa-margin"></i>{{qa.answer}}<i class="fa fa-quote-right"></i>
                                    </dd>
                                </dl>
                            </div>-->
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row" style="margin-left:1px;">
                    <div class="col-md-12">
                        <div class="row gray zoneTitle">
                            <h3 style="margin-top:10px;" class="col-md-6"><i class="fa fa-comments fa-margin"></i>行业动态</h3>
                            <a style="margin-right:10px;margin-top:5px;" class="btn btn-danger pull-right"><i class="fa fa-eye fa-margin"></i>more</a>
                        </div>
                        <div class="row zone qa-news-zone">
                            <ul style="">
                                <li ng-repeat="new in news">
                                    <!--<a ng-href="{{new.url}}" ng-class="{true: 'a-link-hover', false: 'a-link'}[new.isFocus]" ng-mouseover="aLinkHover($index)" ng-mouseleave="aLinkBlur($index)">{{new.content}}</a>-->
                                    <a ng-href="{{new.url}}" class="a-link">{{new.content}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1">

    </div>
</div>
