<div class="row zoneSplit"></div>
<div class="row" ng-controller="qaDetailCtrl">
    <div class="col-md-offset-1 col-md-2 sideMenuAndSlideImg zone">
        <h3><i class="fa fa-list-ul fa-margin" style="color: #d7000f;padding-left:10px;"></i>常识解答</h3>
        <div class="sideMenu">
            <div ng-repeat="menu in sideMenu" class="qaCategory sideMenuItem" ng-click="changeCategory($index)" style="cursor:pointer;">
                <a href="#/qaList/{{$index+1}}">{{menu.name}}</a><i class="fa fa-angle-right pull-right" style="padding-right:35px;"></i>
            </div>
        </div>

    </div>
    <div class="col-md-8 sideMenuAndSlideImg zone" style="overflow-y: scroll;">

        <div style="padding:30px;">
            <dl>
                <dt>
                    <i class="fa fa-question-circle fa-margin"></i>{{qa.question}}
                </dt><hr/>
                <dd>
                    <i class="fa fa-quote-left fa-margin"></i>{{qa.answer}}<i class="fa fa-quote-right"></i>
                </dd>
            </dl>
        </div>

    </div>
</div>