<div class="row zoneSplit"></div>
<div class="row" ng-controller="">
    <div class="col-md-offset-1 col-md-10">
        <h3>售后服务</h3><hr />

        <div class="row">
            <div class="col-md-4">
                <img src="/Sources/realImgs/slideImgs/ps4.jpg" style="width:100%;margin-top:30px;" />
            </div>
            <div class="col-md-8">
                <div class="row text-center">
                    <h4>服务承诺</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        您好！<br />
                        承蒙您惠购上海应心电子科技有限公司（以下简称“上海应心”）产品，谨致谢意！<br />
                        为了保护您的合法权益，免除您的后顾之忧，请您通过正规渠道购上海应心产品，上海应心向您做出产品的标准保修服务承诺，并在您需要时依此向您提供以下服务：<br />
                        一、售前服务<br />
                        1、用户在选型阶段，我公司愿为用户提供各种技术咨询，当好参谋，并提供有关技术资料，如产品样本、产品说明书、产品结构图、附件设计图等。必要时可参与设计特殊要求的产品，计算用户特殊要求的技术参数。<br />
                        2、用户在选型阶段，我公司欢迎用户到我公司进行现场考察。我公司将提供一切方便，并提供各种资料。<br />
                        3、对于用户来电、来函及来人询价访问，我公司将热情接待，及时给予答复。<br />
                        二、售后服务<br />
                        1、产品在发运到用户时，如果由于运输原因，致使产品损坏，我公司将派人协助用户与承运人交涉索赔，协商解决办法，并积极派人修理，达到用户满意。<br />
                        2、产品保修<br />
                        （1）我公司所生产的电子围栏主机产品实行一月包换，四年保修；（外观损坏的除外），（连接线等耗材货赠送配件不在包换保修范围之内）。<br />
                        （2）如果我们刚发出的产品有质量问题，一周内在配件齐全，包装完好的情况下，我们无条件按原价退给您；（以你发出时间为准）。<br />
                        （3）属保修内品，如返修品您收到就有问题，此产品延长一个月的保修期<br />
                        （4）由于该产品超过保修期，人为原因或自然原因（如火灾）等造成的损坏或烧伤等不在保修包换范围内的产品；可以返厂维修，正常收费。<br />

                        三、增值服务<br />
                        （1）进行工程安装中，我公司负责对客户方提供技术培训，包括产品具体操作、一般故障排除及保养、维修工艺和处理方法。<br />
                        （2）如果该系统有重大活动需要时，公司也可派出经验丰富的技术人员进行现场保驾服务，确保系统正常运行。<br />
                        四、售后联系方式<br />
                        地址：上海市闵行区浦江镇沈杜公路4285号<br />
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-5">
                        全国服务热线：400-0178-361<br />
                        邮箱：info@ying-heart.com
                    </div>
                    <div class="col-md-5">
                        售后服务专线：021-60960520<br />
                        网址：WWW.ying-heart.com
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">24小时服务电话：15821762458武先生</div>
                </div>
                <div class="row">
                    <div class="text-right">
                        上海应心电子科技有限公司
                    </div><br />
                </div>
            </div>
        </div>

    </div>
</div>