<div class="row zoneSplit"></div>
<div class="row" ng-controller="">
    <div class="col-md-offset-1 col-md-3">
        <hr />
        <a href="#/install" class="a-link2" style="text-decoration:underline;">围栏安装方式</a><br /><br />
        <a href="#/install_zdgx" class="a-link2" style="text-decoration:underline;">振动光纤安装方式</a>
        <hr />
    </div>
    <div class="col-md-7">
        <div class="row text-center">
            <h4><b>围栏安装方式</b></h4>
        </div>
        <div>

            电子围栏的一些正确安装方法和安装时的注意事项，希望能够为各位提供帮助。<br />
            一、基本安装模式<br />
            墙顶式安装、附属式安装和落地式安装三种类型。详解如下：<br />
            1、墙顶式安装：架设在现有围墙的顶部上方，可以垂直安装也可以倾斜角度安装。围墙的高度应在2m以上。电子围栏的高度为0.8m左右，电子围栏最上面一根线离围墙的间距>750mm，最下面一根线离墙顶的间距为150mm±20mm。<br />
            <img src="/Sources/realImgs/support/01.png"><br />
            2、附属式安装：国标《脉冲电子围栏及安装和安全运行》(GB/T 7946-2008)中对附属式安装的定义为“附属式，即附属在围墙或栅栏上部或者内侧，脉冲电子围栏前端最上面一根金属导体离墙顶或栅栏顶部的间距应不少于700mm。”<br />
            <img src="/Sources/realImgs/support/02.png"><br />
            附属式安装主要用在有较高安全级要求而不消耗业主外围土地的场合，有些顶部不平的围墙也需采用附属式安装方式。此方式对现有围墙有三点要求：一是围墙应有足够的牢度，能承受电子围栏的拉力;二是围墙的高度应高于2m;三是围墙的网孔必须&lt; 50mm，以免人手伸入，触及附属在墙内侧的电子围栏。 <br />
            3、落地式安装：国标中对落地式的定义是：脉冲电子围栏前端独立安装在建筑物的周围，作为实体屏障，脉冲电子围栏前端的高度应不小于1800mm。<br />
            <img src="/Sources/realImgs/support/03.png"><br />
            此种安装方式通常现场无建筑周界或明确周界标识，所以需采用支撑杆外加合金线组成的围栏前端来构成一个被防范区域，这就要求围栏前端顶端高度应≥1.8m，导线数应达到12～20线甚至更多，线线距离应控制在120～150mm之间。<br />
            二、特殊环境下的安装方式<br />
            1、高低起伏落差围栏的安装<br />
            有一些使用场景出于美观的需要，围栏会呈现波浪形。在这种情况下，电子围栏的安装也需要随之实现高低起伏落差，确保围墙凹处不会有太大的空间让入侵者利用。<br />
            <img src="/Sources/realImgs/support/04.png"><br />
            2、较大墙墩的跨接<br />
            如果遇到有较大墙墩，需要利用定制杆件在水平位上改变电子围栏走线方向，将墙墩包裹住。<br />
            <img src="/Sources/realImgs/support/05.png"><br />
            3、落差墙体的补线<br />
            当墙体有上下落差时，两端固定补线器，按照合适间距补齐电子围栏高压导线。<br />
            <img src="/Sources/realImgs/support/06.png"><br />
            4、河边边缘处盲区的处理<br />
            河边边缘经常没有实体护栏作为电子围栏的支撑。在这种情况下，可以利用杆子的角度，防止涉水人员攀爬。<br />
            <img src="/Sources/realImgs/support/07.png"><br />
            6、大门上围栏的安装<br />
            考虑到大门可能会遇到进出高层车辆，因此电子围栏的安装也需要可以旋转。在接缝处采取弧形设计便能够有效解决这类问题。
        
        </div>

    </div>
</div>