<div class="row zoneSplit"></div>
<div class="row" ng-controller="">
    <div class="col-md-offset-1 col-md-3">
        <hr />
        <a href="#/install" class="a-link2" style="text-decoration:underline;">围栏安装方式</a><br /><br />
        <a href="#/install_zdgx" class="a-link2" style="text-decoration:underline;">振动光纤安装方式</a>
        <hr />
    </div>
    <div class="col-md-7">
        <div class="row text-center">
            <h4><b>振动光纤安装方式</b></h4>
        </div>
        <div>
            铁艺介质安装、围网介质安装、围墙介质安装和地埋介质安装四种类型。详解如下：<br />

            一、铁艺介质的安装方式<br />

            1．光缆铺设方式：<br />
            在铁艺上铺设光缆时，由于铁艺较硬，应增加传感光缆的数量以保证能可靠地感应到入侵信号。通过分析入侵者翻越围栏的动作特点，建议沿铁艺最顶端、中间和最底端的水平铁栏杆各铺设一道传感光缆，如图所示。<br />
            <img src="/Sources/realImgs/support/101.jpg" style="width:100%;"><br />
            在铁艺围栏中，有的铁艺会安装在柱子，如果支柱的面积不大，铺设光缆时可直接越过柱子，如上图。但有些支柱的横截面比较大，容易被入侵者利用这个区域进入，所以对这样的区域必须加以保护。可在支柱顶部安装铁网，铺设光缆时，将传感光缆铺设到该铁网上，如图所示。<br />
            <img src="/Sources/realImgs/support/102.jpg" style="width:100%;"><br />
            如需提高警戒级别，可在铁艺围栏的中间部分铺设一道或多道传感光缆，如图所示。<br />
            <img src="/Sources/realImgs/support/103.jpg" style="width:100%;"><br />
            2．采集器的安装方式：<br />
            采集器可固定于铁艺支柱上。在距离地面约1.5米处，用夹具或绑扎带将接续盒牢固地固定在介质上。如果两个铁艺之间是较宽的砌砖柱子，则接续盒可固定在柱子上，用膨胀螺栓加以固定。<br />
            3．现场安装效果图<br />
            <img src="/Sources/realImgs/support/104.jpg" style="width:100%;"><br />
            二、围网介质的安装方式<br />
            1．光缆铺设方式：<br />
            光缆铺设于铁丝网围栏上时，可根据铺设介质对软硬程度选择以下方式<br />
            直线型：<br />
            这种铺设方式可探测到攀爬、翻越的入侵方式。由于采用直线铺设方式铺设，所需光缆较少，适用于警戒级别较低的场所。传感光缆应铺设在铁网高度约3/4处，呈水平直线铺设，每隔40厘米用防紫外线扎带或专用绑扎带将光缆与铁网网格紧密固定，如图所示<br />
            <img src="/Sources/realImgs/support/105.jpg" style="width:100%;"><br />
            平行线型：<br />
            这种铺设方式可探测到攀爬、翻越、剪网、梯子辅助翻越等入侵方式。通过采用水平铺设多道光缆的方式，可增大围栏的感应面积，从而有效地探测到较弱的入侵信号，如图所示。该方式适用于警戒级别较高的场所。传感光缆沿围栏顶部铺设，到达防区末端时绕过来按相反方向直线铺设。可按需求来回多铺几道，光缆铺设的间隔可按铁网高度平均分布。<br />
            <img src="/Sources/realImgs/support/106.jpg" style="width:100%;"><br />
            2．对于加固部分的处理<br />
            传感光缆的灵敏度在整个防区范围具有一致性，但介质的松紧度是会有变化的，所以在铺设传感光缆时要考虑这一因素的影响，在较紧的介质上铺设的光缆感应面积要比在较松的介质上铺设的光缆的感应面积大，例如在铁网的立柱部分、防区末端部分铺设光缆时，可按图示方式进行铺设，如图所示，其中图（B）的铺设方式比图(A)的方式更敏感。是否需要使用这种方式来增加加固部分防区的灵敏度，应通过现场测试来确定。<br />
            <img src="/Sources/realImgs/support/107.jpg" style="width:100%;"><br />
            3．采集器的安装方式：<br />
            采集器可固定于铁网连接处的支柱或铁网上，距离地面约1.5 米处。为避免采集器安装松散引起误报，应选择结实牢固的支柱或紧拉的铁网作为安装点。安装时可选用紧固夹具进行固定，也可采用绑扎线绑扎固定，但无论采取何种方式，须让采集器紧密而可靠地固定在介质上。<br />
            4．现场应用效果图<br />
            <img src="/Sources/realImgs/support/108.jpg" style="width:100%;"><br />
            三、围墙介质的安装方式<br />
            1．光缆铺设方式：<br />
            针对围墙的入侵方式常见的有凿墙和翻越，其防范方式对应两种解决方案。<br />
            防范凿墙：<br />
            凿墙是一种常见的针对围墙的入侵方式，传感光缆可以采集到入侵者凿墙时产生的微小振动。施工人员可采用平行线型方式在墙面上铺设两道光缆，围墙的高度不应超过2米，光缆应固定在距离地面0.5米和1.5米处，如果围墙高度大于2米，则高度每增加1米，需增加一道光缆，光缆水平固定在该区域的中部。为了保证传感光缆能感应到凿墙时产生的振动，必须保证墙面结实，砖快不能有松动，并且光缆应紧密地附着在围墙表面。可使用线卡子每隔50厘米进行固定。如图所示<br />
            <img src="/Sources/realImgs/support/109.jpg" style="width:100%;"><br />
            防范翻越围墙：<br />
            如果入侵者采用翻越的方式进入，则此过程中产生的振动极其微弱，传感光缆感应到的信号不足以作为判断入侵的依据，所以防范这种入侵方式时，必须在墙头上安装扣网，滚网或立网，以增加振动的强度和感应面积。扣网材料一般采用Φ3、孔径为20cm X 5cm的铁网，样式如图所示。在扣网上固定传感光缆时应注意将传感光缆固定在围墙外侧扣网的顶部。在需要提高警戒级别时可将光缆多铺设几道，如图所示。<br />
            <img src="/Sources/realImgs/support/110.jpg" style="width:100%;"><br />
            2．采集器的安装方式：<br />
            采集器应安装在围墙内侧离地1.5米的高度，用膨胀螺栓固定在墙上。<br />
            3．现场安装效果图<br />
            <img src="/Sources/realImgs/support/111.jpg" style="width:100%;"><br />
            四、地埋介质的安装方式<br />
            1．振动传感光缆的安装<br />
            采集器可采集埋设在草坪、沙土、砾石等周界地表介质下的传感光缆的信号。铺设光缆时可采用沿周界平行铺设多道传感光缆的方式，但由于不同地表介质的质地、硬度各不相同，所以传感光缆的铺设间隔有所差异。下面分别介绍在不同地表介质下铺设传感光缆的方法。<br />
            草地：在草坪下埋设传感光缆时，如果该区域已经铺上草坪，应先将需要铺设传感光缆的周界区域的草坪用草坪切割机铲起。周界区域宽度应不小于1.2米，如需提高警戒级别，可增加周界区域的宽度。在土层的表面沿周界方向迂回平行铺设多道传感光缆，光缆间隔距离为30cm，即1.2米宽的区域应平行铺设5道传感光缆，如图所示。传感光缆应平直、紧密地附着在土层表面，可采用Φ5的钢丝折弯成，如图所示的线卡子，每隔50cm用线卡子将传感光缆紧压在土层上，但应注意避免因压力过大造成光缆变形。固定好光缆后，将草坪平铺在上面，应保证草坪接合处紧密，以避免传感光缆外露。<br />
            <img src="/Sources/realImgs/support/112.jpg" style="width:100%;"><br />
            沙土地：在沙土地下埋设传感光缆时，也采用平行铺设多道传感光缆的方式，由于沙土比较松软，当入侵者进入该区域时，透过沙土层对传感光缆施加压力，传感光缆可探测到微小的挤压变形并产生信号，所以在沙土地埋设传感光缆时，应减小平行传感光缆的间距，而且埋设不可过深。通常间隔为20至25cm，埋设深度为5至12cm，如图所示。在进行施工时，首先在需要铺设传感光缆的区域挖出一道宽1.2m，深15cm的凹槽，在凹槽的底部平铺一层厚度为3cm的粗沙，再将传感光缆平行铺设于粗沙表<br />
            面，每隔50cm用钢丝线卡子固定。传感光缆铺设完成后，在其上面覆盖一层厚度为10cm的粗沙，最后在其表面均匀地覆盖一层1cm的地表介质（细沙或松散干燥的泥土）。<br />
            <img src="/Sources/realImgs/support/113.jpg" style="width:100%;"><br />
            砾石：当在砾石地面铺设传感光纤时，同样采用平行铺设多道传感光缆的铺设方式。通常平行铺设传感光缆的间隔为25至30cm，埋设深度为5至15cm,如图所示。在施工时，沿周界区域首先挖一道在需要铺设光缆的区域挖出一道宽1.2m，深18cm的凹槽，在凹槽的底部平铺一层厚度为3cm的砾石，再将传感光缆平行铺设于砾石表面，每隔50cm用钢丝线卡子固定（线卡子可避开砾石固定到底层的泥土上）。光缆铺设完成后，在其上面覆盖一层厚度为15cm的砾石。使用的砾石必须没有尖锐的边缘，这样可以避免砾石受到挤压时对传感光纤造成损害。<br />
            <img src="/Sources/realImgs/support/114.jpg" style="width:100%;"><br />
            2．采集器的安装<br />
            采集器外壳采用工程塑料制造，具有防水、防腐、耐压、耐冲击的特点。在工程施工时，可将设备直接埋入地下，但为了便于检修，应建造设备井来放置和固定设备。设备井应密封并具有排水功能，避免长时间积水渗入设备内部，也可在地表建造坐地电箱用来固定设备，如图所示。<br />
            地埋时采集器的安装<br />
            设备地埋的安装（一）<br />
            设备地埋时要分别将采集器与光缆转接盒安装在地井与地箱里。在施工过程中采集器应安装在地箱内，光缆转接盒安装在地井中（如图一）。<br />
            光缆转接盒外壳采用工程塑料制造，具有防水，防腐，耐压，耐冲击特点。悬挂于地井中。地井应密封并具有排水功能，避免长时间积水渗入设备内部。<br />
            采集器是有源设备要安装在地箱内，由于采集器要求条件较高须防水，防干扰。采集器与光缆转接盒是靠引导光缆来连接，（如图一）引导光缆为普通的通讯单模室外光缆，因采用特殊的光路结构成为了无感光缆。即铺设引导光缆的区域内产生的振动不会被探测，引导光缆也叫无感光缆。光缆外围须套置pvc管加以保护（型号根据现场所需）转角或连接处用pvc快干胶密封即可。<br />
            设备地埋的安装（二）<br />
            如果地井具有良好的排水功能，能够保证积水不会渗入也可将采集器直接悬挂在地井中（如图二所示），无需再安置地箱和光缆转接盒。<br />
            <img src="/Sources/realImgs/support/115.jpg" style="width:40%;">
            <img src="/Sources/realImgs/support/116.jpg" style="width:50%;"><br />
            3．现场应用效果展示：<br />
            <img src="/Sources/realImgs/support/117.jpg" style="width:100%;"><br />

        </div>

    </div>
</div>