<div class="row zoneSplit"></div>
<div class="row" ng-controller="">
    <div class="col-md-offset-1 col-md-3">
        <hr />
        <a href="#/rule" class="a-link2" style="text-decoration:underline;">高压电子脉冲式探测器基本技术要求</a><br /><br />
        <a href="#/rule_zls" class="a-link2" style="text-decoration:underline;">张力式电子围栏入侵探测装置技术要求</a>
        <hr />
    </div>
    <div class="col-md-7">
        <div class="row text-center">
            <h4><b>张力式电子围栏入侵探测装置技术要求</b></h4>
        </div>
        <div>
            <h5><b>1 范围</b></h5>
            本要求对张力式电子围栏入侵探测装置的组成、功能、性能及安装作出了规定，是本市安全技术防范工程用张力式电子围栏入侵探测装置的制作、安装、检测、验收和维护的依据。
            <h5><b>2 基本要求</b></h5>
            2.1除应满足本要求外，还应符合国家标准《入侵探测器第1部份：通用要求》（GB10408.1）、《防盗报警控制器通用技术条件》（GB12663）和公共安全行业标准《入侵报警系统技术要求》（GA/T268）等相关技术要求。
            2.2 周界报警系统中使用的张力式电子围栏入侵探测装置,一般应在其终端应配备独立的报警控制主机和控制键盘作为系统的处理/控制/管理设备；若自带报警控制器作为系统的处理/控制/管理设备，则报警控制部分应符合“CCC”认证的相关规定。
            2.3应能适应本市气候条件的变化，保证在各种气候条件下都能满足安防系统使用要求。<br />
            2.4 各主要部件应标有产品制造企业及产品型号等永久性标识。<br />
            <h5><b>3 设备的组成</b></h5>
            3.1装置应由前端设备（包括前端金属件和前端电子部份）、终端电子部份以及配件部份所组成。<br />
            3.2 前端设备应由控制杆、受力杆、支撑杆、钢索、收紧装置和张力模块、张力控制模块等部件组成。<br />
            3.3 终端电子部份（可另配）：应有报警控制主机、PC机、报警管理软件、备用电源等电子部件组成。<br />
            <h5><b>4 功能要求</b></h5>
            4.1 物理防护<br />
            由保持一定间距且多根并行的钢索形成的物理围栏，对企图穿越者应具有一定的阻挡和隔离作用。<br />
            4.2 报警功能<br />
            4.2.1 钢索拉紧报警<br />
            当钢索受到外力作用被拉紧时，张力变化量及持续时间达到或超过规定要求时，应发出报警信号。<br />
            4.2.2 钢索松弛报警<br />
            当钢索在受到外力作用被松弛时，张力变化量达到或超过规定要求时，应发出报警信号。<br />
            4.2.3 钢索剪断报警<br />
            当钢索被剪断时，应发出报警信号。<br />
            4.2.4 防拆报警<br />
            当控制杆外壳被拆开时，应发出报警信号。<br />
            4.2.5 断电报警<br />
            当供电电源断电时，应自动切换，由备用电源供电，并应发出报警信号。<br />
            4.2.6 自检及故障报警功能<br />
            应具有自检、自诊断能力，且具有设备故障报警功能。<br />
            <h5><b>5 性能要求</b></h5>
            5.1 使用环境<br />
            应能在温度-10～+55°C；相对湿度小于等于95%；大气压力86～106KPa条件下保持设备正常工作。<br />
            5.2 静态张力值范围<br />
            应根据钢索的张力值变化，自动更新静态张力值，且保持张力值在100N～450 N范围之内。<br />
            5.3 钢索拉紧报警阀值<br />
            拉动任意一根钢索，大于原间距75mm时所受的张力值。<br />
            5.4 钢索松弛报警阀值<br />
            应小于 1/3张力静态值。<br />
            5.5 报警响应时间<br />
            应不大于5秒（即：从钢索受到报警阀值的外力作用开始，且持续作用时间2秒,到报警中心显示报警信息的时间。）。<br />
            5.6 钢索拉断力、张力模块可承受最大张力<br />
            均应不小于1000N。<br />
            5.7 平均无故障工作时间（MTBF)<br />
            在正常气候条件下应不小于5000H。<br />
            <h5><b>6 制作和安装要求</b></h5>
            6.1为提高报警的可靠性和有利于报警时准确定位，防区划分的距离应不大于40m。<br />
            6.2每个防区中间每隔3～5m应安装一根支撑杆，在拐弯处应安装受力杆。所有控制杆、受力杆、支撑杆应固定安装，且牢固。<br />
            6.3 采用附属式安装时，围栏的高度应不低于750mm，其中最下一根钢索与实体周界上端的水平间距应在130mm<br />

        </div>

    </div>
</div>