<div class="row zoneSplit"></div>
<div class="row" ng-controller="">
    <div class="col-md-offset-1 col-md-3">
        <hr />
        <a href="#/rule" class="a-link2" style="text-decoration:underline;">高压电子脉冲式探测器基本技术要求</a><br /><br />
        <a href="#/rule_zls" class="a-link2" style="text-decoration:underline;">张力式电子围栏入侵探测装置技术要求</a>
        <hr />
    </div>
    <div class="col-md-7">
        <div class="row text-center">
            <h4><b>高压电子脉冲式探测器基本技术要求</b></h4>
        </div>
        <div>
            介绍：<br />
            <h5><b>1  总则 </b></h5>
            1.1  本要求对高压电子脉冲式探测器（俗称脉冲电子围栏）的组成、性能、功能及安装作了规范，是本市安全技术防范工程用高压电子脉冲式探测器的制作、安装、检测、验收和维护的依据。<br />
            1.2  高压电子脉冲式探测器除满足本要求外，并应符合国家标准《安全防范报警设备安全要求和试验方法》（GB16796）、《入侵探测器第1部分：通用要求》（GB10408.1）等相关技术要求。<br />
            1.3  周界报警系统中使用高压电子脉冲式探测器,一般应配备独立的报警控制主机和控制键盘作为系统的处理/控制/管理设备；如自带报警控制器作为系统的处理/控制/管理设备，则报警控制部分应通过“3C”安全认证。<br />
            1.4  高压电子脉冲探测器上应标有产品制造厂名称或公司名称及产品牌号和型号。<br />
            <h5><b>2  主要构件及基本功能</b></h5>
            2.1  高压电子脉冲式探测器应由高压电子脉冲主机和前端探测围栏组成。<br />
            2.2  高压电子脉冲主机是产生和接收高压脉冲信号,并在前端探测围栏处于短路、断路状态时能产生报警信号的设备。<br />
            2.3  前端探测围栏系由防区终端受力杆、防区区间受力杆、防区区间支撑杆及金属导线等构件组成的有形周界。<br />
            2.4  前端探测围栏应能传导高压脉冲信号,并对入侵者产生威慑、阻挡作用。<br />
            <h5><b>3  性能要求</b></h5>

            3.1  高压电子脉冲主机<br />
            3.1.1  基本输出参数<br />
            3.1.1.1  脉冲持续时间:≤0.1s。<br />
            3.1.1.2  脉冲电压峰值:≥5000V且≤10000 V。<br />
            3.1.1.3  脉冲电流峰值:≤10A （0.3ms以上时&lt;300ma）。 <br />
            3.1.1.4 脉冲间隔时间:≥1s。<br />
            3.1.1.5 每个脉冲最大电量:≤2.5mc。<br />
            3.1.1.6 每个脉冲输出的最大能量:≤5.0 j。<br />
            3.2 前端探测围栏<br />
            3.2.1 金属导线<br />
            3.2.1.1 金属导线应选用抗氧化、耐腐蚀，且具有良好导电率的材料制作，并且材料的断裂伸长率宜不大于12%。<br />
            3.2.1.2 每100m金属导线的电阻值应不大于2.5ω。<br />
            3.2.1.3 金属导线在400n至500n的拉力下应断裂。<br />
            3.2.1.4 高压电子脉冲主机与前端探测围栏的连接导线,其绝缘层抗脉冲电压应不小于15kv,芯线部分应与前端探测围栏的金属导线材质一致。<br />
            3.2.2 受力杆<br />
            3.2.2.1 受力杆应具备防锈和耐腐蚀性能。<br />
            3.2.2.2 防区终端受力杆应采用直径不小于φ30mm，壁厚不小于3mm的圆管,或不小于30mm x30mm壁厚不小于3mm的方管制作。<br />
            3.2.2.3 防区区间受力杆一般应采用直径不小于φ20mm，壁厚不小于2mm的圆管,或不小于20mm x20mm壁厚不小于2mm的方管制作。<br />
            3.2.2.4 受力杆的固定件宜采用角度可调式构件，以适应不同的安装条件。<br />
            3.2.3 防区支撑杆采用防静电、耐腐蚀的材料制成。通常采用软性的玻璃纤维杆，不宜采用刚性的支撑柱。<br />
            3.2.4 绝缘子的抗脉冲电压应不小于15kv。<br />
            <h5><b>4 功能要求</b></h5>
            4.1 前端探测围栏任意一根金属导线发生断路或短路时，3秒内高压电子脉冲主机应发出报警信号。<br />
            4.2 高压电子脉冲主机报警信号的输出和端口应符合《防盗报警控制器通用技术条件》（gb12663）的规定。<br />
            4.3 高压电子脉冲主机应具有设备故障报警功能。<br />
            4.4 高压电子脉冲主机被非法打开时,应不受所处的状态和交流断电的影响,提供全天候的防拆报警。<br />
            4.5 前端探测围栏任意相邻两根金属导线中应至少有一根传导高压脉冲信号。<br />
            <h5><b>5 安装要求</b></h5>
            5.1 一般要求<br />
            5.1.1 高压电子脉冲式探测器应安装防雷装置（避雷器或浪涌保护器等），户外高压电子脉冲主机应设置防雨箱。<br />
            5.1.2 前端探测围栏必须有一个与其它接地系统完全隔离的独立的接地系统，且应与其它接地系统保持10m以上距离。接地体应埋设在导电相对良好的地方,接地电阻不大于10ω；如埋设在潮湿的地方的，接地电阻应不大于4ω。<br />
            5.1.3 前端探测围栏不应有盲区，形成的警戒线应沿周界屏障封闭。<br />
            5.1.4 前端探测围栏的防区划分应有利于报警时准确定位，且长度应不大于70m。<br />
            5.1.5 每个防区的两端应安装防区终端受力杆。<br />
            5.1.6 每个防区的中间应安装防区区间受力杆，防区区间受力杆间或与防区终端受力杆间距应不大于25m。<br />
            5.1.7 防区内有拐角的地方应安装防区区间受力杆；拐角的角度小于120°时，应使用防区终端受力杆。<br />
            5.1.8 不得以金属栏杆、水管或电力、通信线路的电杆作为防区终端或区间受力杆。<br />
            5.1.9 防区内应安装支撑杆，支撑杆间距应不大于5m。<br />
            5.1.10 前端探测围栏应具有禁止人通行的警示牌，警示牌应每隔10m设置一个,并应做到昼夜可视。<br />
            5.1.11 高压电子脉冲式探测器的安装应符合消防安全要求。<br />
            5.1.12 前端探测围栏的金属导线连接处应采用压接法连接。<br />
            5.1.13 安装在受力杆和支撑杆上的绝缘子应固定牢靠。<br />
            5.2　附属式安装<br />
            5.2.1 附属式安装通常应采用顶置式安装；如采用侧置式安装，则前端探测围栏的最下一根金属导线高度距地面应不小于2.3m。<br />
            5.2.2 顶置式安装可以采用直立式安装，也可以采用倾斜式安装。<br />
            5.2.3 附属物的高度应在2.0m-2.8m之间。<br />
            5.2.4 前端探测围栏最上一根金属导线与附属物的间距应不小于800mm。<br />
            5.2.5 前端探测围栏最下一根金属导线与附属物的间距为120mm±10mm。<br />
            5.2.6 前端探测围栏底部三根金属导线,相邻二根的垂直距离为120mm±10mm；前端探测围栏其它相邻二根金属导线的垂直距离为150mm±10mm。<br />
            5.3 落地式安装<br />
            5.3.1 应在前端探测围栏的一侧或两侧安装不低于1.2m的防护网或围墙，防止人体误靠近。<br />
            5.3.2 防护网或围墙与前端探测围栏之间的距离应不小于1m。<br />
            5.3.3 前端探测围栏高度不应低于1.8m。<br />
            5.3.4 前端探测围栏1.2m以下的水平相邻金属导线之间距离为120mm±10mm；1.2m以上水平相邻金属导线之间距离为150mm±10mm。
        </div>

    </div>
</div>