<div class="row zoneSplit"></div>
<div class="row" ng-controller="">

    <div class="col-md-10 col-md-offset-1" style="padding-top:10px;">
        <h3>联系我们</h3><hr />
        <dl class="contactUs">
            <dd>
                <div class="suCon_pic">
                    <font>在线邮箱</font><br>
                    <p>Online Mailbox</p>
                </div>
                <div class="suCon_wor">
                    邮箱：<a href="javascript:;">info@ying-heart.com</a>
                </div>
            </dd>
            <dd>
                <div class="suCon_pic">
                    <font>全国服务热线</font><br>
                    <p>Phone service</p>
                </div>
                <div class="suCon_wor">
                    电话：<a>400-0178-361</a>
                </div>
            </dd>
            <dd>
                <div class="suCon_pic">
                    <font>售后服务专线</font><br>
                    <p>After-sale service</p>
                </div>
                <div class="suCon_wor">
                    电话：<a>021-60960520</a>
                </div>
            </dd>
            <dd>
                <div class="suCon_pic">
                    <font>24h客服热线</font><br>
                    <p>24h customer hotline</p>
                </div>
                <div class="suCon_wor">
                    电话：<a>15821762458 武先生</a>
                </div>
            </dd>

            <dd>
                <div class="suCon_pic">
                    <font>公司网址</font><br>
                    <p>Company website</p>
                </div>
                <div class="suCon_wor">
                    电话：<a>www.ying-heart.com</a>
                </div>
            </dd>

            <dd>
                <div class="suCon_pic">
                    <font>在线支持</font><br>
                    <p>Online Support</p>
                </div>
                <div class="suCon_wor" style="text-align:center;">
                    <a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=2188211478" target="_blank"><img style="" src="/Sources/realImgs/others/qqchat.png" /></a>
                </div>
            </dd>
        </dl>
        <hr style="clear:both;" />
        <div style="float:right;">
            <h5>公司地址：上海市闵行区浦江镇沈杜公路4285号</h5> <h5>传真：024-83893739-8007</h5><h5>邮编：310051</h5>
        </div>
    </div>
</div>